#!/bin/bash
set -e

PUBLIC_INTERFACE=br0
PUBLIC_SUBNET={{ promox_public_network }}

exe() { ( echo "## $*"; $*; ) }

reset() {
  exe iptables -P INPUT ACCEPT
  exe iptables -P FORWARD ACCEPT
  exe iptables -P OUTPUT ACCEPT
  exe iptables -t nat -F
  exe iptables -t mangle -F
  exe iptables -F
  exe iptables -X
}

masquerade() {
  if [ "$#" -ne 1 ]; then
    echo "Specify arguments: SOURCE_SUBNET"
    exit 1
  fi
  SOURCE_SUBNET=$1
  echo 1 > /proc/sys/net/ipv4/ip_forward
  exe iptables -t nat -A POSTROUTING -s $SOURCE_SUBNET -o $PUBLIC_INTERFACE -j MASQUERADE
}

port_forward() {
  if [ "$#" -ne 3 ]; then
    echo "Specify arguments: SOURCE_PORT DEST_HOST DEST_PORT"
    exit 1
  fi
  SOURCE_PORT=$1; DEST_HOST=$2; DEST_PORT=$3;
  exe iptables -t nat -A PREROUTING -p tcp -i $PUBLIC_INTERFACE \
      --dport $SOURCE_PORT -j DNAT --to-destination $DEST_HOST:$DEST_PORT
  exe iptables -A FORWARD -p tcp -d $DEST_HOST \
      --dport $SOURCE_PORT -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT
}

port_open_tcp() {
  if [ "$#" -ne 2 ]; then
    echo "Specify arguments: INTERFACE DEST_PORT"
    exit 1
  fi
  INTERFACE=$1; DEST_PORT=$2;
  exe iptables -A INPUT -p tcp -m tcp --dport $DEST_PORT -i $INTERFACE -j ACCEPT
}

cluster_port_open_tcp() {
  if [ "$#" -ne 1 ]; then
    echo "Specify arguments: DEST_PORT"
    exit 1
  fi
  DEST_PORT=$1;
  exe iptables -A INPUT -p tcp -m tcp -s $PUBLIC_SUBNET --dport $DEST_PORT -j ACCEPT
}

port_open_udp() {
  if [ "$#" -ne 2 ]; then
    echo "Specify arguments: INTERFACE DEST_PORT"
    exit 1
  fi
  INTERFACE=$1; DEST_PORT=$2;
  exe iptables -A INPUT -p udp -m udp --dport $DEST_PORT -i $INTERFACE -j ACCEPT
}

cluster_port_open_udp() {
  if [ "$#" -ne 1 ]; then
    echo "Specify arguments: DEST_PORT"
    exit 1
  fi
  DEST_PORT=$1;
  exe iptables -A INPUT -p udp -m udp -s $PUBLIC_SUBNET --dport $DEST_PORT -j ACCEPT
}

port_open_dhcp() {
  if [ "$#" -ne 1 ]; then
    echo "Specify arguments: INTERFACE"
    exit 1
  fi
  INTERFACE=$1;
  exe iptables -A INPUT -p udp --dport 67:69 --sport 67:69 -i $INTERFACE -j ACCEPT
}

port_open_tftp() {
  if [ "$#" -ne 2 ]; then
    echo "Specify arguments: INTERFACE GATEWAY"
    exit 1
  fi
  INTERFACE=$1; GATEWAY=$2
  exe modprobe ip_conntrack ip_conntrack_tftp
  # TFTP requires all udp ports to be opened to the gateway:
  exe iptables -A INPUT -i $INTERFACE -d $GATEWAY/32 -p udp -j ACCEPT
}

allow_ping() {
  if [ "$#" -ne 1 ]; then
    echo "Specify arguments: INTERFACE"
    exit 1
  fi
  INTERFACE=$1;
  exe iptables -A INPUT -p icmp --icmp-type echo-request -i $INTERFACE -j ACCEPT
}

allow_private_interface() {
  if [ "$#" -ne 1 ]; then
    echo "Specify arguments: INTERFACE"
    exit 1
  fi
  INTERFACE=$1;
  exe iptables -A INPUT -i $INTERFACE -j ACCEPT
}

default_rules() {
  exe iptables -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
  exe iptables -A INPUT -i lo -j ACCEPT
  exe iptables -P INPUT DROP
  exe iptables -P FORWARD ACCEPT
  exe iptables -P OUTPUT ACCEPT
}


## Reset all rules:
reset

## Public ports:
# SSH
port_open_tcp $PUBLIC_INTERFACE 22
# Web
port_open_tcp $PUBLIC_INTERFACE 80
# Web
port_open_tcp $PUBLIC_INTERFACE 443


## Cluster ports:
## https://pve.proxmox.com/wiki/Ports
cluster_port_open_tcp 8006
cluster_port_open_udp 5404
cluster_port_open_udp 5405
cluster_port_open_tcp 3128
cluster_port_open_tcp 111

## Ceph cluster private interface:
{% if ceph_nic is defined %}
allow_private_interface {{ ceph_nic }}
{% endif %}

## Ping from anywhere:
allow_ping $PUBLIC_INTERFACE

## IP Masquerading for private VM subnets
{% for subnet in proxmox_vm_subnets %}
masquerade {{ subnet.network }}
{% endfor %}

## Allow select external subnets to access admin ports
{% for subnet in proxmox_external_client_subnets %}
exe iptables -A INPUT -p tcp -m tcp -s {{ subnet }} --dport 8006 -j ACCEPT
{% endfor %}


## default rules catch-all
default_rules
